.grid-item {
	border: solid 1px;
}

nggrid > .grid-item .grid {
	z-index: 5000;
}

ngGrid {
	border: 1px solid black;
}

.handle {
	width: 100%;
	height: 50px;
	background: blue;
}

.btn {
	margin-left: 10px;
}